@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #6C9BCF;
    --color-white: #000000;
    --color-dark: #363949;
    --color-dark-variant: #677483;
    --color-background: #ffffff;

    --card-border-radius: 1rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;

    --card-padding: 1.1rem 1rem;
    --padding-1: 0.5vw;

    --box-shadow: 0.2rem 0.2rem 1rem var(--color-dark);
}


* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    color: var(--color-dark);
    background: var(--color-background);
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}

.container {
    display: grid;
    width: 97%;
    gap: 1.5rem;
    grid-template-columns: auto;
}

.analyse {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.6rem;
}

.analyse>div {
    background: rgba(255, 255, 255, 0.13);
    color: var(--color-white);
    backdrop-filter: blur(10px);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    height: 8vw;
}


.analyse>div:hover {
    box-shadow: 0.2rem 0.5rem 1rem var(--color-dark);
}


.analyse h3 {
    margin-left: 0.6rem;
    font-size: 1rem;
}

.charts-container {
    height: 70vh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1.6rem;

    .first-line {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.6rem;
        width: 50%;

        .chart_card {
            height: 17vw;
        }

        .line-chart {
            grid-column: span 2;
            height: 16.5vw;
        }
    }

    .second-line {
        width: 50%;

        .chart_card {
            height: 100%;
        }

        iframe {
            width: 100%;
            height: 95%;
        }
    }

}

.chart_card {
    background: rgba(255, 255, 255, 0.13);
    color: var(--color-white);
    backdrop-filter: blur(10px);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    padding: 0.5vw;

}


/* ----------------------------------------------------------------------- */


@media screen and (max-width: 768px) {

    .container {

        width: 100%;
        height: 100vh;
        grid-template-columns: 1fr;
        padding: 3vw;
    }


    .analyse {
        grid-template-columns: 1fr;
        gap: 5vw;

    }

    .analyse>div {
        height: 20vw;
    }

    .charts-container {
        height: auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 1.6rem;

        .first-line {
            display: flex;
            flex-direction: column;
            gap: 1.6rem;
            width: 100%;

            .chart_card {
                height: auto;
                padding: 3vw;
                margin-top: 0;
                height: 35vh;
            }

            .line-chart {
                height: auto;
                padding: 3vw;
                margin-top: 0;
                height: 35vh;
            }
        }

        .second-line {
            width: 100%;
            margin-bottom: 5vw;

            .chart_card {
                height: auto;
                padding: 3vw;
                margin-top: 0;
                height: 35vh;
            }

        }

    }

}